package model

import (
	"github.com/jinzhu/gorm"
)

type {{name}} struct {
	BaseModel
  {{#fields}}
	{{name}} {{type}}     `gorm:"{{#defaultValue}}DEFAULT:{{/defaultValue}}{{{defaultValue}}}{{#defaultValue}};{{/defaultValue}}{{^isNullable}}NOT NULL;{{/isNullable}}{{#comment}}COMMENT:{{/comment}}{{#comment}}'{{/comment}}{{{comment}}}{{#comment}}'{{/comment}}" sql:"type:{{{sqlType}}};"`
  {{/fields}}
}

func ({{name}}) TableName() string {
	return gorm.DefaultTableNameHandler(nil, "{{table}}")
}
