import Sequelize = require('sequelize')
const service = require('feathers-sequelize')

//约定:表名同该文件名
const lastSlashIndex = __filename.lastIndexOf("/")
const lastDotIndex = __filename.lastIndexOf(".")
const tableName = 'tb_' + '{{{table}}}'

const fields = {
  {{#fields}}
    {{name}}: {
        type: {{type}},
        allowNull: {{#isNullable}}true{{/isNullable}}{{^isNullable}}false{{/isNullable}},
        {{#isPrimaryKey}}
        primaryKey: true,
        autoIncrement: true,
        {{/isPrimaryKey}}
    },
    {{/fields}}
}

const classMethods = {
    associate(models: any[]) {

    }
}

export = function (sequelize: Sequelize.Sequelize) {
    let options = {
        tableName,
        classMethods
    }
    let Model = sequelize.define(tableName, fields, options)
    return Model
}